@media screen and (max-width: 600px) {
    .nav-section {
        flex-direction: column; 
        width: 100%;
    }

    .nav-container,
    .item-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .item-container {
        flex-direction: column;
        justify-content: center;
    
    }


    /* banner section */

    .banner-section {
        width: 100%;
        height: auto;
        
    }

    .option-div {
        flex-direction: column;
        margin: 0 auto;
        padding-top: 100px;
        width: 90%;
    }

    .select-option {
        width: 100%;
        
    }


    /* Polilar section */

    .popular-section {
        flex-direction: column;
        align-items: center;
         
    }

    .popular-container{
        width: 100%;
        padding: 0; 
        
    }
    .img-container{
        width: 100%;
        padding-top: 30px;
        
    }
    
    .popular-container h1{
        text-align: center;
        font-size: 32px; 
        
        
    }
    .popular-container ul>li{
        text-align: center;
       
        
    }
    .popular-container>p{
        text-align: center;
        
        
    }
    .btn-primary {
        width: 50%;
        margin-top: 20px;
        
        
    }

    /* Destination section */

    /* .destination-section, */
    .destination-container{
      
        text-align: center;
        position: relative;
    }

    .destination-title {
        font-size: 32px; 
        text-align: center;
    }
    .img-box{
        display: flex;
        flex-direction: column;
        
    }
    .img-box>img{
        position: relative;
        
    }
    

    .destination-title p {
        font-size: 16x; 
        
    }




    
    .choose-section h2 {
        font-size: 32px; 
    }

    .choose-section p {
        font-size: 14px; 
    }

    
}
